.gameCard {

}

.toGame {
    width: 100%;
}

.secondary {
    color: #cbcbcb;
}

.gameCardImageContainer {
    justify-content: center;
    align-items: center;
}

.gameCardImage {
    width: 100%;
    border-radius: 5px;
}

.gameCardTextBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gameCardDescription {
    padding: 10px;
}