.gameCard {
    background: #4c4d52;
    margin-bottom: 20px;
    border-radius: 20px;
    border: solid 2px #000;
    color: white;
}

.toGame {
    width: 100%;
}

.content {
    padding: 20px;
}

.secondary {
    color: #cbcbcb;
}

.gameCard Row {
    width: 100%;
}

.gameCard img {
    width: 100%;
    height: 100%;
}

.gameCard code {
    color: white;
    background: #3f3f44;
}

.genreContainer {
    display: flex;
    align-items:center;
    justify-content:flex-end;
}